<% include header.html %>
            <% postList.forEach(function (post){ %>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <%
                        var img = [];
                        img = post.img;
                        console.log(img);
                        img.forEach(function (imgItem){
                        %>
                        <img src="<%= imgItem%>" alt="" />
                        <%
                            })
                        %>  
                        <div class="caption">
                            <h3><a href="<%= post.href %>"><%= post.title %></a></h3>
                            <a href="<%= post.author_href%>" class="author"><%= post.author_name %></a>
                        </div>
                    </div>
                    
                </div>
            <% }) %>
                

<% include footer.html %>