        </div>
        <div class="spinner-holder">
           <div class="spinner">
                <div class="bounce1 load-animation"></div>
                <div class="bounce2 load-animation"></div>
                <div class="bounce3 load-animation"></div>
            </div> 
        </div>
        
    </div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script>
var container = $('#posts').masonry({
}); 
</script>
</body>
</html>
