<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="public/css/main.css" />
    <link rel="stylesheet" href="public/css/bootstrap-3.3.0/dist/css/bootstrap.min.css" />
    <title>害羞组node读图版</title>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="web-name">害羞组node读图版</div>
            
           
            <a href="#" class="git-link">Github</a>
        </div>
        <div class="content">
            <div id="posts">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="public/imgs/ang.jpg" alt="" />
                        <div class="caption">
                            <h3><a href="#">标题内容</a></h3>
                            <a href="#" class="author">XXXX</a>
                        </div>
                    </div>
                    
                </div>  
            </div> 
        </div>
    </div>
<script type="text/javascript" src="public/js/PCASClass.js" charset="gb2312"></script>
<script type="text/javascript">
    new PCAS("Province,请选择省份","City,请选择城市");
</script> 
</body>
</html>