<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="description" content="douban害羞组图片分享平台node版" />
    <meta name="author" content="Youngbye and Ricardo_Li"/>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/bootstrap-3.3.0/dist/css/bootstrap.min.css" />
    <title>害羞组node读图版</title>
</head>
<body>
    <script type="text/javascript" src="/js/PCASClass.js" charset="gb2312"></script>
    <script type="text/javascript">
        new PCAS("Province","City")
    </script> 
    <div class="wrap">
        <div class="header">
            <div class="web-name">害羞组node读图版</div>
            
           
            <a href="#" class="git-link">Github</a>
        </div>
        <div id="posts">