<% 
    postList.forEach(function (post){
        console.log(post);
        var img = {};
        img = JSON.parse(post.img);
        var imgs = [];
        imgs = img['imgs'];
%>
        <div class="thumbnail post">
            <%
            imgs.forEach(function (item_img){
            %>
                <img src="<%= item_img%>" alt="" />
            <%
            })
            %>
            <div class="caption">
                <h3><a href="<%= post.url%>"><%= post.title%></a></h3>
                <a href="<%= post.author_url%>" class="author">Author : <%= post.author_name%></a>
            </div>
        </div>
<% }) %>