a { display: block; }
.list-grid { width: 300px; background-color: #fff; list-style-type: none; overflow: hidden; }
.grid { position: relative; width: 300px; background-color: #cccccc;}
.grid.active { background-color: #f5f5f5; overflow: hidden; }
.grid img { float: left; }
.grid .title { float: left; overflow: hidden; width: 100%; float: left; margin-top: 206px; line-height: 47px; background-color: rgba(0, 0, 0, 0.3);  }
.grid .title .title-name { float: left; font-size: 17px; padding-left: 20px; width: 80%; color: #fff; }
.grid .title .upload-time { font-size: 16px; color: #fff; height: 30px; line-height: 30px; }
.grid .title .time { font-size: 16px; color: #fff; height: 30px; line-height: 30px; }
.grid .title .info { float: left; height: 100%; }
.grid .grid-shade { width: 100%; height: 100%; z-index: -1; opacity: 0.3; background-color: #000; position: absolute; }
.grid .author { float: left;  margin-top: 178px; padding-left: 10px;  }
.grid .comment { float: right; position: relative; margin: 14px 10px 0px 0px; width: 22px; height: 22px; color: #fff; text-align: center; line-height: 18px; }
.grid .comment img { position: absolute; z-index: 0; }
.grid .title
{
    transition: all 0.5s;
    -moz-transition: all 0.5s;  /* Firefox 4 */
    -webkit-transition: all 0.5s;   /* Safari 和 Chrome */
    -o-transition: all 0.5s;
}
.grid:hover .title
{
    margin-top: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    overflow: visible;
    line-height: 30px;
}
.grid .title .title-name
{
    transition: all 0.5s;
    -moz-transition: all 0.5s;  /* Firefox 4 */
    -webkit-transition: all 0.5s;   /* Safari 和 Chrome */
    -o-transition: all 0.5s;
}

.grid:hover .title .title-name
{
    margin-top: 100px;
}

.grid .title .info
{
    transition: all 0.5s;
    -moz-transition: all 0.5s;  /* Firefox 4 */
    -webkit-transition: all 0.5s;   /* Safari 和 Chrome */
    -o-transition: all 0.5s;
}
.grid:hover .title .info
{
    padding-top: 150px;

}